html {
    height: 100%; /* sets parent height */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(22,187,129,1);
    background: -moz-linear-gradient(45deg, rgba(22,187,129,1) 0%, rgba(44,122,96,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(22,187,129,1)), color-stop(100%, rgba(44,122,96,1)));
    background: -webkit-linear-gradient(45deg, rgba(22,187,129,1) 0%, rgba(44,122,96,1) 100%);
    background: -o-linear-gradient(45deg, rgba(22,187,129,1) 0%, rgba(44,122,96,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(22,187,129,1) 0%, rgba(44,122,96,1) 100%);
    background: linear-gradient(45deg, rgba(22,187,129,1) 0%, rgba(44,122,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16bb81', endColorstr='#2c7a60', GradientType=1 );
    font-family: 'Roboto', sans-serif;
}

/****************************************
 *    LINK STYLING    
 ****************************************/

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

details {
    width: 96%;
    padding: 2%;
}

details:hover {
    cursor: pointer;
}

/****************************************
 *    CONTAINER STYLING (desktop)   
 ****************************************/

.container {
    /* Default Container Code (variations do occur)*/
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.type0 {
    width: 50%;
    margin-left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.type1 {
    display: block;
    width: 80%;
}

/*
.type1-flex {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

.type2 {
    height: 94%;
    padding-top: 10%;
    width: 100%;
    display: block;
}

.type3 {
    width: 94%;
    height: 90%;
    padding: 3%;
    padding-top: 8%;
    display: block;
}

.type4 {
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
}

/* Overlay window styling (triggered by buttons) */

.overlay {
    display: none; /* Window will be hidden by default */
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    overflow-y: hidden;
    top: 0;
    width: 94%;
    padding: 3% 3% 4% 3%;
    height: 96%;
    z-index: 10000;
    background-color: rgba(44,122,96,0.92);
    color: #ffffff;
    font-weight: 100;
}

/****************************************
 *    FORM STYLING (desktop)   
 ****************************************/

.container form {
    /* New Route Form Input Base Styling */
    width: 90%;
    margin: 5%;
    text-align: center;
}

.container form p {
    /* New Route Form Input Label Styling */
    margin-bottom: -2%;
    line-height: 0;
    width: 100%;
}

.container form input[type=text], select {
    /* New Route Form Text Input Styling */
    opacity: 0.7;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 18pt;
    color: rgb(22,187,129);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(158,156,158,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9e9c9e', GradientType=1 );
    border: none;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
    transition: 0.2s;
    width: 90%;
    padding: 4%;
}

.container form select {
        /* New Route Form Time Menu Styling */
        -webkit-appearance: none;
        border-radius: 0;
        width: 98%;
    }

.container form input[type=text]:focus {
    /* New Route Form Time Menu Styling When Focused, hence the :focus attribute */
    opacity: 1;
    outline: none;

}

.container form p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-weight: 200;
}

/****************************************
 *    MAIN MENU STYLING (desktop)   
 ****************************************/

/* Header Space */

header {
    height: 22%;
}

.menu1 { /* Main Menu Big Buttons */
    font-weight: 100;
    font-size: 18pt;
    color: #ffffff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    text-align: left;
    border-bottom: solid 1px #ffffff;
    display: flex;
    transition: all 0.2s;
}

#content1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu2 {
    /* Main Menu Small Buttons */
    font-weight: 100;
    text-align: left;
    border-bottom: solid 1px #ffffff;
    vertical-align: middle;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
}

#content2 {
    /* Button2 Text */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#icon {
    /* Button Icons */
    width: 50px;
}

.menu1:hover, .menu2:hover {
    -moz-filter: opacity(0.6);
    -webkit-filter: opacity(0.6);
    -o-filter: opacity(0.6);
    filter: opacity(0.6);
}

/****************************************
 *    BUTTON STYLING (desktop)   
 ****************************************/

.buttoncontainer {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
}

.button { /* Default button styling */
    display: inline-block;
    border: 0;
    opacity: 0.6;
    color: rgba(44,122,96,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    text-align: left;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25%;
    width: 48%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(158,156,158,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(158,156,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9e9c9e', GradientType=1 );
}

/* Button Variants (Desktop version - buttonB andbuttonD) */

.buttonB {
    display: block;
    width: 80%;
}

.buttonD {
    display: block;
    width: 30%;
    padding: 1%;
}

.button:hover {
    cursor: pointer;
}

#backtofindroute {
    display: none;
}

#findroute_desktop {
    display: block;
}

#findroute_mobile {
    display: none;
}

/*************************************************************
 *    IFRAME ROUTE FIND STYLING (desktop only)   
 *************************************************************/

.loadside {
    position: absolute;
    display: none;
    height: 100%;
    width: 50%;
    right: 0;
}

.loadside iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/****************************************
 *    SAVED ROUTES PAGE STYLING (desktop)   
 ****************************************/

.container h1, .container h2 {
    /* Title Styling */
    width: 100%;
    font-weight: 400;
    top: 2%;
    position: absolute;
    text-align: center;
    color: #ffffff;
}

#name {
    /* Saved Routes Name */
    margin: 0;
    width: 85%;
    transition: 0.2s;
}

#name:hover {
    cursor: pointer;
}

#name:active {
    cursor: pointer;
}

/****************************************
 *    LIST STYLING FOR MENUS (desktop)   
 ****************************************/

.list {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.list li {
    padding: 1%;
    width: 48%;
    border-bottom: 1px #ffffff solid;
    color: #ffffff;
    font-weight: 200;
    text-align: left;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
}

.list li:hover {
    filter: opacity(0.6);
    cursor: pointer;
}

.schedules li {
    padding: 1.666666667%;
    width: 30%;
}

.schedules li a {
    width: 100%;
    height: 100%;
}

#removebutton {
    /* Remove Route Button */
    -webkit-appearance: none;
    background: none;
    border: none;
    color: #ffffff;
    font-weight: 200;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: #ffffff 1px solid;
    transition: 0.2s;
}

#removebutton:focus {
    outline: none;
}

#removebutton:hover {
    border: #ffffff 3px solid;
    font-weight: 400;
    cursor: pointer;
}

#removebutton:active {
    border: #ffffff 3px solid;
    font-weight: 400;
    cursor: pointer;
}

/****************************************
 *    VIEW ROUTE PAGE STYLING    
 ****************************************/

/* Map styling (NOTE: subject to change) */
.google-maps {
    margin-top: 4%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
}

#map {
    height: 100%;
}

.timewrapper {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.timecontainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.businfo {
    width: 94%;
    padding: 3%;
}

.departure {
    width: 100%;
}

.arrival {
    width: 100%;
}

.time {
    padding: 2%;
    color: #ffffff;
    font-weight: 200;
}

.time time {
    margin: 0;
}

.timeinfo {
    width: 45%;
    text-align: right;
    font-size: 13pt;
}

.timevalue {
    width: 75%;
    font-size: 40pt;
    line-height: 0;
}

#time1 {
    font-size: 14pt;
}

#time2 {
    font-size: 14pt;
}

/****************************************
 *    SCHEDULES PAGE STYLING    
 ****************************************/

.schedulewrapper {
    height: auto;
    width: 100%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.57);
}

.schedulewrapper table {
    table-layout: fixed;
    width: 1440px;
}

/* Desktop resizing rules for table (snap width to 100% of div when exceeding 1600 pixels) */

@media screen and (min-width: 1600px) {
    .schedulewrapper table {
        width: 100%;
    }
}

.schedulewrapper table tr th {
    text-align: left;
    padding: 10px 0px 10px 10px;
    width: 100px;
    font-weight: 300;
}

.schedulewrapper table tr td {
    padding-left: 10px;
    width: 400px;
}

#businfo {
    height: 90%;
    overflow-y: scroll;
}

/****************************************
 *    MOBILE SITE    
 ****************************************/

@media screen and (max-width: 800px) {

    /****************************************
     *    HOMEPAGE BUTTON STYLING    
     ****************************************/

    .menu1 {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
    }

    .menu2 {
        width: 86%;
        padding: 2%;
        height: 8%;
    }

    /* For Line At Top */

    .newroute {
        border-top: solid 1px #ffffff;
    }

    #icon {
        /* Button Icon */
        width: 16%;
    }

    /****************************************
     *    CONTAINER STYLING VARIANTS (mobile)
     ****************************************/

    .type0 {
        width: 100%;
        top: 0;
    }
    
    .type1 {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    /****************************************
     *    BUTTON STYLING (mobile)   
     ****************************************/

    .buttoncontainer {
        display: block;
        width: 100%;
        left: auto;
        right: auto;
        margin-top: 8%;
    }

    .button {
        display: flex;
        width: 90%;
        margin: 2.5%;
        padding: 3%;
        padding-left: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5%;
        margin-bottom: 3%;
        
    }

    .buttonA {
        padding: 4%;
        font-size: 20pt;
    }

    .buttonC {
        width: 83%;
    }
    
    /****************************************
     *    FIND ROUTE PAGE STYLING (mobile)   
     ****************************************/
    
    #findroute_desktop {
        display: none;
    }

    #findroute_mobile {
        display: block;
    }
    
    #backtofindroute {
        display: block;
    }
    
    .google-maps {
        width: 80%;
    }
    
    .timewrapper {
        display: block;
    }
    
    .timevalue {
        width: 100%;
        font-size: 36pt;
        line-height: 0;
    }
    
    .list {
        width: 80%;
    }
    
    .timelist {
        display: flex;
        text-align: center;
        height: 85%;
    }

    .timelist ul {
        list-style-type: none;
        padding: 1%;
        width: 48%;
    }

    .timelist h4 {
        height: 15%;
    }

    /****************************************
     *    SAVED ROUTES PAGE STYLING (mobile)   
     ****************************************/
    
    .savedroutes li {
        width: 100%;
        padding: 2%;
    }
    
    /****************************************
     *    SCHEDULE ROUTES (mobile)   
     ****************************************/
    
    .schedules li {
        width: 44%;
        padding: 3%;
    }
    
}
